
.paginacards {background-color: #00376D;
}
hr {
    background-color: orange;
    margin-bottom: 0px;
    margin-top: 0px;
}

.paginaartigo {background-color: #00376D;
}

.artigocontainer {background-color: #fff;}