@font-face {
    font-family: "Sanchez";
    src: url(site/assets/font/Sanchezregular.otf)
}

.menuprincipal{
    height: 60px;
    background-color: white;
    margin-left: 120px;
    font-family: "Sanchez";

}

.menuuuu{
    margin-left: 60px;
}

.menuprincipal i{
    font-size: 20px;
    margin: 0auto;
}
.senacpe{
    margin-left: 150px;
    width: 150px;
}

.saladeestudos{
    font-size: 30px;
    color: #084298;
    text-align: center;
    margin-top: 35px;    
}

body {
    background-color: white;
    font-family: "Sanchez";

}

.hrmenu{
    border: 3px solid #ff6600;
    background-color: #ff6600;
    margin-bottom: 0;

}
