.titulocard{
    background-color: #06357a;
    color: white;
}

.linhacategoria{
    margin: 0 auto;
    margin-top: 30px;
    width: 1200px;
}
.cardcategoria{
    width: 200px;
    margin-left: 10px;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body { 
    font-family: sans-serif; 
}
.gallery {
 height: 275px;
 width: 100%;
 padding: 20px;
}
.gallery-cell {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  margin-left: 30px
}
.gallery-cell a{
  text-decoration: none;
  text-align: center;
  color: #06357a;
}
.gallery-cell img{
 border-radius: 20px;
 padding: 10px;
}
.inicialartigos{
    margin-left: 120px;
    margin-top: 70px;
}
.recentes{
    padding: 20px;
    border-radius: 5px;   
}
.sabermais{
    margin-right: 10px;
    width: 300px;
    margin-left: 30px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}
sabermais hr{
    background-color: grey;
}
